[Unit]
Description=Docker Demo Unicorn

[Service]
ExecStartPre=/usr/bin/docker pull geekle/demo-unicorn
ExecStart=/usr/bin/docker run --rm --name %n geekle/demo-unicorn
ExecStop=/usr/bin/docker stop %n

